/* Global styles */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f5f7fe;
  color: #1c1c1e;
}

/* Banner section */
.banner {
  background: url('/Assigment01/Assets/Hero-bg.png') center center no-repeat;
  background-size: cover;
  padding: 40px 20px;
  /* min-height: 100vh; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1140px; */
  margin: 0 200px;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  color: #581845;
}

.signup-btn {
  background-color: #581845;
  color: #fff;
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

/* Centered Content */
.banner-content {
  margin-top: 120px;
}

.banner-content h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.4;
}

.cta-btn {
  display: inline-block;
  background-color: #581845;
  color: #fff;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}


/* Responsive */
@media (max-width: 768px) {
  .banner-content h1 {
    font-size: 26px;
  }

  .navbar {
    flex-direction: column;
    gap: 15px;
  }
}
